@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@600;800&display=swap');

*{
  box-sizing: border-box;
}

/* RESET MARGINS Y PADDINGS PARA QUE NAVEGADOR NO HAGA COSAS RARAS*/
html,body{
  margin: 0;
  padding: 5px;
  font-family: 'Playpen Sans', cursive;
  font-weight: bold;
  font-size: 1.2em;
}

a{
  color:var(--color-primary);
  text-decoration: none;
}

a:hover{
  color: var(--color-primary-dark);
  border-left: 5px solid var(--color-primary-dark);
  border-bottom: 5px solid var(--color-primary-dark);
}

a.log:hover{
  border-left: 0px;
  border-bottom: 5px solid var(--color-primary-dark);
}

a.logo:hover{
border: 0px;
}
a.logo img{
  width: 150px;
}

a.logo img:hover{
  width: 205px;
}

h1{
  color: var(--color-dark-gray);
}

h2{
  color: var(--color-dark-gray);
}

h3{
  font-family: 'Playpen Sans', cursive;
  color: var(--color-gray);
}
p.mensaje{
    color: var(--color-dark-gray);
}
#error{
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;

}

@media only screen and (min-width: 992px){
  a.logo img{
    width: 200px;
  }
}



