@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@600;800&display=swap');
/* NO HACE FALTA PONER EL IMPORT EN TODOS LOS CSS PERO POR SI ACASO */

.titulo-pagina {
  font-family: 'Playpen Sans', cursive;
  text-align: center;
  margin: 10px 0 30px 0;
  border-bottom: 1px solid var(--color-gray);
  color: var(--color-primary-dark);

}

.search-input {
  float: left;
  padding: 10px;
  width: 50%;
  outline: 0;
  border: none;
  border-bottom: 1px solid var(--color-gray);

}

.search-input:focus {
  box-shadow: none;
}

.select-order {
  float: right;
  padding: 10px;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.product-box {
  text-align: center;
  color: var(--color-dark-gray);
  text-decoration: none;
  font-family: 'Playpen Sans', cursive;

}

.product-box:hover {
  text-decoration: none;
  border-left: 3px solid var(--color-primary-dark);
  border-bottom: 0px;
  
}

.product-box img {
  transition: all 0.3s;
  width:100%;
}
/* DE MOMENTO LO DEJO PERO NO ME CONVENCE
.product-box:hover img {
  transform: scale(1.05);
}
*/
.product-box h3 {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  /* PARA OPERA Y OTROS NAVEGADORES */
  -o-text-overflow: ellipsis;
  white-space: nowrap;

}

.product-box .price {
  font-size: 18px;
}

.product-box strong del {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 5px;
}

/* DE MOMENTO ESTO NADA */
.pag {
  text-align: center;
  list-style: none;
  font-size: 18px;
}

.pag li {
  display: inline-block;
}

.pag li a {
  color: black;
  padding: 5px;
  width: 30px;
  text-align: center;
  display: inline-block;
}

.pag a:hover{
  color: var(--color-primary);
  border-left: 1px solid black;
  border-bottom: 1px solid black;

}

.pag li a.active {
  border: 1px solid black
}


